table {
    border-collapse: collapse;
    font-family: sans-serif;
    text-align: center;
}

td {
    border: 1px solid #333;
    padding: 15px;
    width: 40px;
}

.highlight {
    background-color: orange;
}